<%- include("base/header.ejs") %>

    <body>
        <%- include("base/navbar.ejs") %>
            <div class="row cover-bg mb-5">
                <div class="col-12">
                    <div class="row nav-btns">
                        <div class="col-lg-6 col-md-12 col-sm-12 com-xs-12 ">
                            
                            <a class="card card-custom" href="/list">
                                <span>
                                    Use Existing Bucket
                                </span>
                            </a>
                            <a class="card card-custom" href="/create">
                                <span>
                                    Create New Bucket
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("base/footer.ejs") %>  
    </body>

    </html>